.box-card {
  padding: 1rem;
  background: $box-background-color;
  border: 0.06rem solid $box-border-color;
  box-shadow: 0.13rem 0.13rem 0.5rem $box-shadow-color;
  border-radius: 0.13rem;
}

.profile-handle {
  color: $profile-handle-color;
  font-size: 0.87rem;
  font-weight: 400;
}

.profile-name {
  font-weight: 400;
}

.section-header {
  font-weight: 600;
}
