.box-card {
  padding: 1rem;
  background: $box-background-color;
  border: 0.06rem solid $box-border-color;
  box-shadow: 0.13rem 0.13rem 0.5rem $box-shadow-color;
  border-radius: 0.13rem;
  box-sizing: border-box;
}

.profile-handle {
  color: $profile-handle-color !important;
  font-size: 0.87rem;
  font-weight: 400;
}

.profile-name {
  font-weight: 400;
}

.profile-picture {
  img {
    border-radius: 50%;
  }
}

.section-header {
  font-weight: 600;
}
