// override bootstrap variable
$body-bg: #fafafa;
$body-color: #000000;
$font-family-base: "Source Sans Pro", sans-serif;

// custom variables
$box-background-color: #fff;
$box-border-color: #eee;
$box-shadow-color: #eee;

$profile-handle-link-color: #2F80ED;
